.choice-box > .label{
    -fx-alignment:center;
}

.column.table-cell {
    -fx-background-color: red;
}

.table-column {
  -fx-alignment: CENTER;
}

/*
.table-view {
     -fx-selection-bar : red ;
     -fx-selection-bar-text : red ;
 }
*/

.table-cell:focused{
    -fx-background-color: green;
}