.choice-box > .label{
    -fx-alignment:center;
}


.column.table-cell {
    -fx-background-color: red;
}

.table-column {
  -fx-alignment: CENTER;
}

.red{
    -fx-background-color:red;
}

.white{
    -fx-background-color:white;
}